<!DOCTYPE html>
<html>
<head>
    <title>Flask To-Do App</title>
    <style>
        body { font-family: Arial; width: 400px; margin: 50px auto; }
        h1 { text-align: center; }
        form { display: flex; }
        input { flex: 1; padding: 8px; }
        button { padding: 8px; }
        ul { list-style: none; padding: 0; }
        li { padding: 8px; margin: 5px 0; background: #f4f4f4; display: flex; justify-content: space-between; }
        .done { text-decoration: line-through; color: gray; }
        a { margin-left: 10px; text-decoration: none; }
    </style>
</head>
<body>

<h1>📝 My To-Do List -Chandan</h1>

<form action="/add" method="POST">
    <input type="text" name="title" placeholder="Enter new task..." required>
    <button type="submit">Add</button>
</form>

<ul>
    {% for task in tasks %}
    <li>
        <span class="{{ 'done' if task[2] else '' }}">
            {{ task[1] }}
        </span>
        <span>
            {% if not task[2] %}
            <a href="/complete/{{ task[0] }}">✅</a>
            {% endif %}
            <a href="/delete/{{ task[0] }}">❌</a>
        </span>
    </li>
    {% endfor %}
</ul>

</body>
</html>